.leito {
    border: 2px solid red;
    width: 400px;
    height: 250px;
    border-radius: 5px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.leito,h2{
    font-size: 40px;
    margin-left: 5px;
}

.imagem-leito{
    width: 100px;
    height: 100px;
    margin-right: 0px;
    margin-top: 5px;
}
.leito:hover{
    background-color: red;
    cursor: pointer;
    color: white;
}